.DS_Store
*.aux
*.synctex.gz
*.log
*.out
*.bib
*.toc
*.auxlock
*.bbl
*.blg
*.loe

*.pdf
*.html
!docs/*.html
!docs/**.html
!docs/_courses/*.html
!docs/_layouts/*.html
!docs/dist/**/*.pdf
!docs/dist/**/*.html
