---
---

$light-gray: #aaa;
$lighter-gray: #eee;

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 14px;
  max-width: 50rem;
  margin: 0 auto;
}

header {
  text-align:center;

  .topbar {
    color: $light-gray;
    text-align: left;

    padding:1rem 0;
    border-bottom: 1px solid $lighter-gray;

    a { 
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

nav.course-nav {
  padding: 1rem;
  text-align: center;
  line-height: 1.5;

  a {
    margin: 0 .3rem;
  }
}

.course-description {
  font-size: 0.8rem;
}

section {
  padding: 1rem;
}

footer {
  border-top: 1px solid $lighter-gray;
  margin-top: 1rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
  color: #ccc;
}

.table-responsive, pre {
  overflow: scroll;
  width: 100%;

  td, th {
    white-space: nowrap;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #ccc;
}

td, th {
  border: 1px solid black;
  padding: .5rem;
}

ul, ol {
  padding-left: 1rem;
}

li {
  margin-top: .3rem;
}

.container {
  margin: 1rem;
}

figure {
  text-align: center;
}

figcaption {
  color: #777;
}
